<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}HerHealthHormone — Personalized Hormone Health Planner {% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  
  <!--referencing created css file-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
  <div class="page">

    <!--header-->
    <section class="header">
      <h1 class="headline"> HerHealthHormone 💖 </h1>
      <p class="subheadline"> 
        {% block subheading %} {% endblock %}
      </p>
    </section>

    {% block body %} {% endblock %}

    <!--footer-->
    <footer class="footer">
      <div>© <span id="year"></span> HerHealthHormone</div>
    </footer>

  </div>



</body>
</html>
